    <body>
    <div>
        <h2 id="club_range_head">Enter Club Range</h2>
        <section id="club-information">
            <ul>
                <li>Driver: <span id="current-range">0 yards</span> <span> | Avg golfer distance: 219 yards </span><input type="text" id="club-range" class="form-control me-2">  <button  class="btn btn-success update-club">Update</button></li>
                <li>Fairway Wood: <span id="current-range">0 yards</span><span> | Avg golfer distance: 203 yards</span><input type="text" id="club-range" class="form-control me-2">  <button  class="btn btn-success update-club">Update</button></li>
                <li>Hybrid: <span id="current-range">0 yards</span><span> | Avg golfer distance: 180 yards</span><input type="text" id="club-range" class="form-control me-2">  <button  class="btn btn-success update-club">Update</button></li>
                <li>5 Iron: <span id="current-range">0 yards</span><span> | Avg golfer distance: 164 yards</span><input type="text" id="club-range" class="form-control me-2">  <button  class="btn btn-success update-club">Update</button></li>
                <li>6 Iron: <span id="current-range">0 yards</span><span> | Avg golfer distance: 155 yards</span><input type="text" id="club-range" class="form-control me-2">  <button  class="btn btn-success update-club">Update</button></li>
                <li>7 Iron: <span id="current-range">0 yards</span><span> | Avg golfer distance: 145 yards</span><input type="text" id="club-range" class="form-control me-2">  <button  class="btn btn-success update-club">Update</button></li>
                <li>8 Iron: <span id="current-range">0 yards</span><span> | Avg golfer distance: 136 yards</span><input type="text" id="club-range" class="form-control me-2">  <button  class="btn btn-success update-club">Update</button></li>
                <li>9 Iron: <span id="current-range">0 yards</span><span> | Avg golfer distance: 126 yards</span><input type="text" id="club-range" class="form-control me-2">  <button  class="btn btn-success update-club">Update</button></li>
                <li>Pitching Wedge: <span id="current-range">0 yards</span> <span> | Avg golfer distance: 126 yards</span><input type="text" id="club-range" class="form-control me-2">  <button  class="btn btn-success update-club">Update</button></li>
                <li>Sand Wedge: <span id="current-range">0 yards</span> <span> | Avg golfer distance: 85 yards</span><input type="text" id="club-range" class="form-control me-2">  <button  class="btn btn-success update-club">Update</button></li>
        </section>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="../public/js/club_ranges.js"></script>
     </body>