<body>
  <div class="card w-50 p-3 d-flex justify-content-center">
    <div id="search" class="text-center pb-2">
      <input class="form-control" id="search-bar" type="text" placeholder="Search">
      <button type="button" id="search-course" class="btn btn-success">Submit</button>
    </div>
    <div class="container container-sm text-center">
      <p id="searchResults" class="pt-3">List of course search results</p>
    </div>

    <div class="container pt-5 container-sm " id="displayResult">
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous">
    </script>
  <script src="/js/search.js"></script>
</body>