<div class=" game-playing container pt-5 container-sm">
  {{#each holes as |hole|}}
  <div class="row text-center">
    <div class="col-md-6">
      <div class="card border-success bg-transparent  ">
        <div class="card-body">
          <h5 class="holeNumber card-title">Hole # {{hole.Hole}}</h5>
          <p class="holePar card-text">Par {{hole.Par}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="card border-success bg-transparent">
          <div class="card-body scoreDisplay" data-holeNumber="{{hole.Hole}}">
            <h5 class="card-title">Stroke Count</h5>
            <h5 class="card-title numberDisplay">0</h5>
            <a href="#" class="btn btn-success mt-2 MinusButton">-</a>
            <a href="#" class="btn btn-success mt-2 PlusButton">+</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"
  integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="/js/score.js"></script>