    <body>
      <div class="container pt-5 container-sm">
        <div class="row text-center">
          <div class="col-md-6">
            <div class="card border-success bg-transparent  ">
              <div class="card-body">
                <h5 id="holeNumber" class="card-title">Hole #</h5>
                <p id="holePar" class="card-text">Par</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card border-success bg-transparent">
              <div class="card-body">
                <a href="#" class="btn btn-success mt-2 mb-2">Previous Hole</a>
                <a href="#" class="btn btn-success mt-2 mb-2">Next Hole</a>
                <a href="#" class="btn btn-success mt-2 mb-2">Round Completed</a>
              </div>
            </div>
          </div>
          <div class="container pt-5">
            <div class="row text-center">
              <div class="col-md-6">
                <div class="card border-success bg-transparent">
                  <div class="card-body">
                    <h5 class="card-title">Hole Information</h5>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item bg-transparent">Yards to pin here</li>
                      <li class="list-group-item bg-transparent">Grass type here</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="card border-success bg-transparent">
                    <div class="card-body">
                      <h5 class="card-title">Stroke Count</h5>
                      <h5 id="strokeCount" class="card-title">count</h5>
                      <a href="#" class="btn btn-success mt-2">-</a>
                      <a href="#" class="btn btn-success mt-2">+</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                </div>
              </div>
            </div>
          </div>
        </div>
    </body>
