    <body>
      <div class="container-fluid container-sm text-center">
        <div class="card bg-white">
          <ul class="list-group list-group-flush">
            <li id="courseName"class="list-group-item text-bg-success">Course name here</li>
            <li id="date"class="list-group-item text-bg-success">Date here</li>
            <li id="coursePar"class="list-group-item text-bg-success">Par for Course here</li>
            <li id="strokeTotal"class="list-group-item text-bg-success">Player score here</li>
          </ul>
        </div> 
        <div class="card mt-5 border-success text-success">
          <label for="text" class="form-label">Overall Course Comments</label>
          <input type="text" id="courseComments" class="form-control">
          <div class="form-text-success">
            Save comments here that you'd like to notate for your next visit!
          </div>   
      </div>
      <button id="saveComments" type="button" class="btn btn-success mt-5">Save Comments</button>
    </body>    
