<body>
    <main>
        <section class="section is-centered py-8 mt-6 search-area-background" id="search-area">
            <form action="#">
                <input class="input mb-3" type="text" name="" id="search-bar" placeholder="Enter Course, City, or Postal Code">
                <div class="buttons is-centered">
                    <button class="button is-rounded mr-4 mt-4" id="search-course">Search</button>
                </div>
            </form>
        </section>
        <section class="section" id="displayResultsContainer">
            <div class="container" id="displayResult">
            </div>
          </section>
          <script src="https://code.jquery.com/jquery-3.7.0.min.js"
          integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
          <script src="./public/js/search.js" rel="javascript"></script>
    </main>
  </body>