body {
    background-image: url("https://t3.ftcdn.net/jpg/03/70/31/86/240_F_370318620_62tk1enSQ1eiOzpcvEh85VwgD03q8ph5.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    min-width: 100vw;
    min-height: 100vh;
    background-position: center center;
}

h1 {
    font-family: "Yellowtail", sans-serif;
}

footer {
    font-family: "Yellowtail", sans-serif;
    font-size: x-large;
}