body {
    background-image: url("https://t3.ftcdn.net/jpg/03/70/31/86/240_F_370318620_62tk1enSQ1eiOzpcvEh85VwgD03q8ph5.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    min-width: 100vw;
    min-height: 100vh;
    background-position: center center;
}

h1 {
    font-family: "Yellowtail", sans-serif;
}

footer {
    font-family: "Yellowtail", sans-serif;
    font-size: x-large;
}

/* Login styling*/
.card {
    margin: 0 0 20px 0;
    border: 3px solid red;
    border-radius: var(--border-radius);
    width: 600px;
}

  .card-header {
      color: green;
      background-color: blue;
      padding: 1%;
      border-radius: 10 10 0 0;
      display: inline-block;
    }
    .float-left {
        float: left;
    } 
    .float-right {
        float: right;
    }
.card-text {
    height: 150px;
    padding: 1%;
    margin: 5px 0;
    font-size: 1.2rem;
    border: 2px solid blue;
    border-radius: blue;
}
.card-body {
    padding: 1%;
    text-align: center;
}

.btn {
   font-size: 1.3rem;
   text-decoration: none;
   padding: 6px 5px;
   width: 100%;
   display: block;
   margin: 5px 0;
   border-radius: var(--border-radius);
   color: var(--dark);
   border: none;
   outline: none;
   background-color: green;
   transform: translate(-1px, -1px);
 }

 .btn:hover {
   color: yellow;
   background-color: blueviolet;
   transform: translate(0, 0);
   cursor: pointer;
 }


 #club-information ul li{
    color: black;
    font-size: 150%;
    list-style-type: none;
 }

 #club-information{
    margin-right: 3%;
    margin-left: 0%;
 }

 #club_range_head{
    color:black;
 }