<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Golf Course Info including prior stats and club info" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <title>Iron Birdies</title>
</head>

<body>
  <header>
        <section class="hero-is-flex">
        <div class="hero-body has-text-centered has-background-info headhero">
            <h1 class="title">
                Iron Birdies
            </h1>
            <p class="subtitle">
                Golf Assist
            </p>
        </div>
        </section>
  </header>
  <main>
    {{{ body }}}
  </main>
  <footer>
  </footer>
</body>

</html>
